@keyframes leftright {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .show-from-bottom {
    transform: translateY(50%);
    opacity: 0;
  }
  @keyframes rightleft {
    from {
      transform: translateX(50%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes bottom {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes navbarbottom {
      from {
          transform: translateY(10%);
          opacity: 0;
      }
      to {
          transform: translateX(0);
          opacity: 1;
      }
  }
  .show-from-left {
    opacity: 0;
    transform: translateX(-50%);
  }
  .show-from-right {
    opacity: 0;
    transform: translateX(50%);
  }
  
  .left-to-right {
    animation: leftright 0.5s forwards ease-in-out;
  }
  .right-to-left {
    animation: rightleft 0.5s forwards ease-in-out;
  }
  
  .bottom-up {
    animation: bottom 0.5s forwards ease-in-out;
  }

  .bottom-up-dl {
    animation: bottom 0.7s forwards ease-in-out;
  }

  .nav-up {
    animation: navbarbottom 0.5s forwards ease-in-out;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes  switch-left-hidden{
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translate(-100%);
        opacity:0
    }
  }
@keyframes  switch-left-show{
    0% {
        transform: translateX(100%);
        
    }
    100% {
        transform: translate(0);
    }
}
@keyframes  switch-right-hidden{
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translate(100%);
        opacity:0
    }
  }
@keyframes  switch-right-show{
    0% {
        transform: translateX(-100%);
        
    }
    100% {
        transform: translate(0);
    }
}
