@media only screen and (min-width: 768px) and  (max-width: 992px) {
    body {
    overflow-x:hidden 
    } 

    .navigation {
      display: none;
    }

    .grid {
      max-width: 740px;
    }

    #header {
      overflow: hidden;
    }

    .header-wrapper {
      padding: 15px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .humberger-btn {
      display: block;
      cursor: pointer;
    }
    .humberger-btn div {
      width: 20px;
      background-color: rgb(134, 154, 184);
      height: 1px;
    }
    .humberger-btn div:nth-child(2) {
      margin: 5px 0;
    }

    .close-btn {
      cursor: pointer;
      top: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
      right: 10px;
      z-index: 10;
    }
    .close-btn > div,
    .close-btn > div::after {
      width: 20px;
      height: 1px;
      background-color: rgb(134, 154, 184);
    }
    .close-btn > div {
      position: relative;
      transform: rotate(-45deg);
    }
    .close-btn > div::after {
      position: absolute;
      top: 0;
      content: "";
      transform: rotate(90deg);
    }
    
    /* menu toggle */

    .navbar-toggler {
      display: block;
      border: none;
      width: 10%;
      margin-left: auto;
      border: none;
      background-color: #fff;
    }

    .menu-toggle {
      all: unset;
      position: absolute;
      top: 20px;
      display: none;
      right: 0px;
      background-color: #fff;
      left: 20px;
      bottom: 20px;
      border-radius: 15px;
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 30px;
      box-shadow: 0px 0px 0px 133px rgba(204, 204, 204, 0.158);
      flex-direction: column;
      transition: all 0.3s ease;
        
      z-index: -100;
      pointer-events: none;
    }

    .menu-toggle.show {
      
      opacity: 1;
      display: block;
      right: 20px;
      z-index: 10;
      pointer-events: all;
    }


    .nav-input {
      right: 0;
      top: 0;
      position: fixed;
    }
    .nav-input2 {
      right: 0;
      top: 0;
      position: fixed;
    }
    


    .toggle-btn-primary {
      display: none;
      text-align: center;
      margin-left: 0;
    }
   
    .navbar-toggler-icon {
      margin-top: 2rem;
      display: block;
      position: absolute;
      right: 2rem;
    }
    .navbar-toggler-icon img {
      height: 3rem;
    }
    .nav-link {
      display: block;
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-size: 600;
    }
    .drop-header {
      margin-top: 2.5rem;
    }
  
    .account-form {
      position: absolute;
      padding: 2rem 0;
      display: block;
    }
  
    .account-link_title {
      padding: 0;
    }
    .account-sub-menu {
  
      left: 100%;
      margin-left: 0;
      margin-top: 0;
      right: auto;
      top: 0;
      /* position: absolute; */
      width: 100%;
      
    }
    .dcm-icon1 {
      margin-top: 2rem;
    }

    .no-wrap {
      flex-wrap: nowrap !important;
    }

    .pd-1-5 {
      padding: 1.5rem;
    }

    .display-1 {
      font-size: 3rem;
    }

    .sub-contain-2 h3 {
      font-size: 1.8rem;
    }

    .contain-p-3 {
      font-size: 1.8rem;
    }

    .btn-primary-blue {
      padding: 20px 18px;
      font-size: 1.7rem;
    }

    .btn-primary-gray {
      padding: 20px 20px;
      font-size: 1.7rem;
    }

    .col-card-1 {
      width: 50%;
    }

    .col-card-2>h2 {
      margin: 0;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .col-card-2>p {
      font-size: 1.675rem;
    }

    .text-success {
      padding: 1rem 0;
    }
    
    .mb-6 {
      margin-bottom: 2rem !important;
    }

    .mgl-65 {
      margin-left: 0;
    }

    .col-success {
      padding: 0;
      margin-bottom: 0;
    }

    .dp-b {
      display: block;
    }

    .fs-2 {
      font-size: 2rem;
    }

    .fs-1-5 {
      font-size: 1.5rem;
    }

    .col-md-7 {
      flex: 0 0 auto;
      width: 58.33333%;
    }    

    .text-h-2 {
      font-size: 2rem;
    }
    h1 {
      font-size: 3.4rem;
      line-height: 4.5rem;
    }

    .sub-contain-5 {
      width: 90%;

    }

    .card-img {
      height: 100%;
    }

    .card-img-width {
    width: 372px;
    }

    .next-btn-left {
      transform: translateX(-25%);
    }

    .next-btn-right {
      right: 0;
    }

    .pd-20 {
      padding-top: 20rem;
    }
  
    .stats-heading {
      font-size: 2.4rem;
    }
  
    .stats-wrap {
      align-items: center;
    }
  
    .pricing-text-wrap {
      width: 100%;
    }
    .card-price-body {
      padding: 4.8rem 1.2rem;
    }
    .pricing-text {
      font-size: 1.9rem;
    }
  
    .price-text2 {
      font-size: 1.9rem;
      margin: 8rem 0;
      width: 100%;
    }
  
    .faq-item-heading {
      font-size: 1.7rem;
    }
    /* footer */
    .sec11 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .col-3 {
      width: 100%;
    }
    .col-2 {
      width: 50%;
    }
    .social-wrap {
      width: 100%;
      margin-bottom: 3.2rem;
    }
  
    .social-list {
      padding: 0px;
    }

    .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
    }

    .py-8 {
      padding-bottom: 6rem!important;
      padding-top: 6rem!important;
    }
    
    .flex-wr {
      flex-wrap: nowrap;

    }

    .pb-lg-30 {
      padding-bottom: 30rem;
    }

    .row-display {
      flex-wrap: wrap;
      align-items: unset;
    }

    .col-md-4 {
      width: 33.3334% !important;
    }

    .offset-md-4 {
      margin-left: 33.33333%;
    }

    .mb-md-8 {
      margin-bottom: 3rem!important;
    }
  }




  
  @media only screen and (max-width: 767px) {
    
    
   
    .navbar-toggler {
      /* display: block; */
      width: 10%;
      margin-top: 10px;
      height: 34px;
      margin-left: auto;
      margin-right: 24px;
      border: none;
      background-color: #fff;
    }

    #header {
      padding: 2px 2px 4px 4px;
      overflow: hidden;
    }

    .grid {
      max-width: 540px;
    }

    .navigation {
      display: none;
    }
    
  
    /* menu toggle */
    /* .menu-toggle,
    .close-btn {  
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    } */
   
    .navbar-toggler-icon {
      margin-top: 1.5rem;
      display: block;
      top: 0;
      /* margin-right: 16rem; */
      position: absolute;
      right: 3rem;
    }
    .navbar-toggler-icon img {
      height: 3rem;
    }
    .nav-link {
      display: block;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .drop-header {
      margin-top: 2.5rem;
    }
  
    .account-form {
      position: absolute;
      padding: 2rem 0;
      display: block;
    }
  
    .account-link_title {
      padding: 0;
    }
    .account-sub-menu {
  
      left: -7%;
      margin-left: 0;
      margin-top: 0;
      right: auto;
      top: 0;
      /* position: absolute; */
      width: 100%;
      
    }
    .dcm-icon1 {
      margin-top: 2rem;
    }

    .dcm-icon1>svg {
      font-size: 4.5rem;
    }

    .dcm-ver {
      margin-right: 0;
    }

    .account-link {

    }



    /* Welcome */

    .display-1 {
      font-size: 3rem;
      text-align: center;
    }

    .contain-p-2 {
      font-size: 1.6rem;
    }
    
    .btn-gr-1 {
      margin-left: 0;
    }

    .btn-primary-blue, .btn-primary-gray {
      padding: 20px 22px;
      font-size: 1.5rem;
    }

    .col-md-6 {
      flex: 0 0 auto;
      width: 50% !important;
    }

    .sub-contain-1 {
      padding: 96px 20px 0 20px;
    }
  
    .col-6 {
      width: 100%;
    }

    .pd-1-5 {
      padding: 1.5rem;
    }
    
    .container {
      padding: 0;
    }

    .row-display {
        flex-wrap: wrap;
    }

    .row-display-md {
        display: flex;
        flex-direction: column;
    }

    .col-container-3 {
        width: 100%;
        padding: 10px 0;
    }

    .col-card-1 {
      padding: 0;
    }
    
    .col-card-2>h2 {
      margin: 0 0 16px 0;
    }

    .mgl-65 {
      margin-left: 0;
    }

    .dp-b {
      display: block;
    }

    .col-success {
      padding: 0;
      margin-bottom: 0;

    }

    .text-success {
      padding: 1rem 0;
    }

    .col-card-2 {
      padding: 2rem 0;
    }

    .plr-20 {
      padding: 0;
    }

    .pt-10 {
      padding: 5rem 20px 0 20px;
    }

    .pd-4 {
      padding: 0 20px;
    }

    .pd-30 {
      padding-top: 30rem !important;
    }
    

    .col-md-6 {
      width: 100%;
    }

    .text-h-2 {
      font-size: 2.325rem;
    }

    .text-gray {
      font-size: 1.75rem;
    }

    .next-btn-left {
      transform: translateX(-30%);
    }

    .next-btn-left, .next-btn-right {
      top: 75%;
    }

    .shape-vertical  {
      display: none;
    }

    .row-display-stats {
      display: flex !important;
      align-items: center;
      flex-wrap: wrap;
    }

    .stats-text {
      font-size: 1.875rem;
    }

    .pt-9 {
      padding: 4rem 20px 0 20px;
    }

    .pricing-heading {
      font-size: 3rem;
      text-align: center;
    }

    .col-lg-8 {
      width: 100%;
    }

    .check-form {
      font-size: 1.7rem;
    }

    .card-pricing-col {
      width: 100%;
      margin-bottom: 3rem;
    }

    .title-card h6 {
      font-size: 1.175rem;
    }

    .title-card-right {
      margin-bottom: 3rem;
    }

    #left-stats {order: 2;}
    #right-stats {order: 1;}

    .btn-primary-blue {
        margin-right: 0;
    }

    #left {order: 2;}
    #right {order: 1;}

    .img-contain-1 {
        width: 100%;
        height: auto;
    }

    .col-container-2  {
        width: 110%;
        padding: 0 20px;
    }

    .contain-p-2 {
        text-align: center;
    }
    

    .row-section {
      margin-left: 0;
      margin-right: 0;
    }

    .row-section-item {
        width: 50%;
    }

    .sub-contain-2 {
        padding: 60px 20px 0 20px;
    }

    #up {order: 2;}
    #down {order: 1;}
    

    .left {
        float: left;
    }

    .right {
        float: right;
    }
  
    .col-4 {
      width: 100%;
    }

    .col-card-md {
      width: 100%;
    }
    
  
    .stats-wrap {
      flex-direction: column-reverse;
    }
  
    .stats-heading {
      font-size: 2.4rem;
    }
    .pricing-text-wrap {
      width: 100%;
    }
    .pricing-heading {
      font-size: 3rem;
  
    }
  
    .pricing-text {
      font-size: 1.9rem;
    }
    .card-price-rounded {
      margin-bottom: 2rem;
    }
  
    .price-text2 {
      font-size: 1.8rem;
      color: var(--text-gray);
      line-height: 3rem;
      margin: 0;
      text-align: center;
    }
    .cta-wrap {
      width: 100%;
    }
    .cta-heading {
      font-size: 3.2rem;
    }
  
    .sec11 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .w-50 {
      width: 100%;
    }
  
    .col-3 {
      width: 100%;
    }
    .col-2 {
      width: 50%;
    }
    .social-wrap {
      width: 100%;
      margin-bottom: 3.2rem;
    }
  
    .social-list {
      padding: 0px;
    }

    .pd-16 {
      padding: 16rem 20px 0 20px;
    }

    .py-8 {
      padding-bottom: 3rem!important;
      padding-top: 3rem!important;
    }

    .col-12 {
      flex: 0 0 auto;
      width: 100%;
    }

    .col-md-4 {
      width: 50% !important;
      flex: 0 0 auto;
    }

    .mb-10 {
      margin-bottom: 0 !important;
    }

    .list-unstyled {
      margin-bottom: 2rem;
    }

    .mg-r-50 {
      margin-right: 50%;
    }

    
  
   
   
  /* Menu toggle */
  .header-wrapper {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-wrapper {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .humberger-btn {
    width: 10%;
    display: block;
    cursor: pointer;
  }
  .humberger-btn div {
    width: 20px;
    background-color: rgb(134, 154, 184);
    height: 2px;
  }
  .humberger-btn div:nth-child(2) {
    margin: 5px 0;
  }

  .close-btn {
    cursor: pointer;
    top: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    z-index: 10;
  }
  .close-btn > div,
  .close-btn > div::after {
    width: 20px;
    height: 1px;
    background-color: rgb(134, 154, 184);
  }
  .close-btn > div {
    position: relative;
    transform: rotate(-45deg);
  }
  .close-btn > div::after {
    position: absolute;
    top: 0;
    content: "";
    transform: rotate(90deg);
  }
 
  .menu-toggle {
    all: unset;
    position: absolute;
    top: 20px;
    display: none;
    right: 0px;
    background-color: #fff;
    left: 20px;
    bottom: 20px;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 30px;
    box-shadow: 0px 0px 0px 133px rgba(204, 204, 204, 0.158);
    flex-direction: column;
    transition: all 0.3s ease;
      
    z-index: -100;
    pointer-events: none;
  }

  .menu-toggle.show {
      
    opacity: 1;
    display: block;
    right: 20px;
    z-index: 10;
    pointer-events: all;
  }
  
  .pb-3 {
    padding-bottom: 3rem;
  }

  
  .menu-toggle-wrap {
    display: flex;
  }
  
  .separate {
    width: 100%;
    border-bottom: thin solid #f1f4f8;
  }
  
  .toggle-btn-primary {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 1.7rem;
    padding: 0.8125rem 1.25rem;
    width: 100%;
    text-align: center;
    display: block;
  }

}
  
