* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black--color: #000;
    --primary-color: #335eea;
    --nav-color: #506690;
    --text-gray: #869ab8;
}

@font-face {
    font-family: "HKPro";
    src: url(/font/HKGroteskPro-Regular.woff2);
}

html {
    font-family: "HKPro", sans-serif;
    font-size: 62.5%;
}

section {
  max-width: 100vw;
  overflow: hidden;
}
  

.btn-primary {
    background-color: #335eea;
    border-color: #335eea;
    color: #fff;
}

.lift:focus, .lift:hover {
  box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1)!important;
  transform: translate3d(0,-3px,0);
}


.grid {
    margin: 0 auto;
    max-width: 104rem;
    display: flex;
  }

.grid-container {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

}

  .grid__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* margin-left: -5px;
    margin-right: -5px; */
  }
  
  .pd-2 {
    padding: 2rem;
  }

  .pd-5 {
    padding-bottom: 5rem;
  }

  .py-4 {
    padding-top: 4rem;
  }

  .pd-10 {
    padding-top: 10rem;
  }

  .pd-36 {
    padding-top: 36rem;
  }

  .py-md-11 {
    padding-bottom: 6rem!important;
    padding-top: 6rem!important;
  }

  .fl-l {
    float: left;
  }

  .fl-r {
    float: right;
  }

  
  
  .mb-10 {
    margin-bottom: 10rem !important;
  }

  .mb-md-11 {
    margin-bottom: 6rem !important;
  }

  .mb-md-7 {
    margin-bottom: 2.5rem !important;
  }

  .mb-4 {
    margin-bottom: 4rem !important;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }
  .col-12 {
    width: 100%;
   
  }
  .col-6 {
    width: 50%;
  }
  
  .col-3 {
    width: 25%;
  }

  .col-lg-3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .col-4 {
    width: 33.3333%;
    
  }

  .col-md-6 {
    width: 50%;
  }

  .col-2 {
    width: 16.6667%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .plr-20 {
    padding: 0 20px;
  }
  .text-h-2{
    margin: 0 0 16px 0;
    line-height: 1.4;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.02em;
  }

  .fs-1-5 {
    font-size: 1.5rem;
  }

  .blue-text{
    color: #335eea;
  }

  .text-gray{
    font-family: sans-serif;
    color: #869ab8!important;
    line-height: 1.6;
    font-size: 1.875rem;
  }

  .text-muted {
    color: #869ab8!important;
  }

  .text-decoration-none {
    text-decoration: none;
  }

  .bg-dark {
    background-color: #1b2a4e!important;
  }

  .bg-gradient-light-white {
    background-image: linear-gradient(180deg,#f9fbfd 0,#fff);
  }

  .bg-gray-200 {
    background-color: #f1f4f8!important;
  }

  .box-shadow {
    box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 5%);

  }

  .d-flex{
    display: flex !important;
  }

  .flex-wr {
    flex-wrap: wrap;
    margin: auto;
  }

  .w-50 {
    width: 50%;
  }

  .icon-2{
    display: inline;
    font-size: 34px;
    margin-bottom: 12px;
    color: #335eea!important;
    width: auto;
  }

  .ml-25{
    margin: 0 0 0 25px;
  }

  .ml-15{
    margin-left: 1.5rem;
  }

  .mb-4-1 {
    margin: 0 0 4px 0;
  }

  .mb-32{
    margin: 0 0 32px 0;
  }

  .mb-3 {
    margin-bottom: 3rem !important;
  }

  .mb-1 {
    margin-bottom: 1rem !important;
  }

  .mb-6 {
    margin-bottom: 2rem!important;
  }
  .me-3 {
    margin-right: 0.75rem!important;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }

  .align-item-center {
    align-items: center !important;
  }

  .text-align {
    text-align: center !important;
  }
  
.dropdown-menu {
    background-color: #fff;
    border: 0 solid rgba(22, 28, 45, 0.15);
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
    color: #161c2d;
    display: none;
    font-size: 0.9375rem;
    list-style: none;
    margin: 0;
    margin-top: 10px;
    position: absolute;
    text-align: left;
    z-index: 1;
}

textarea:focus,
input:focus {
  outline: none;
}

.section-hidden {
  overflow: hidden;
}
.shadow-lg {
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);
}

.bg-dark {
  background-color: #1b2a4e;
}
