#header {
    
}
  
  .brand-logo {
    padding: 2rem;
}
  
.navigation {
    display: flex;
    align-items: center;
    flex: 1;  
}  

.navbar {
    display: flex;
    margin-left: auto;
}

.nav-item {
    display: block;
    padding: 1.2rem 2.4rem;
    position: relative;
}
  
  .nav-link {
    color: var(--nav-color);
    font-size: 1.6rem;
    font-weight: 520;
}
  
  .nav-link:hover,
  .drop-item:hover,
  .account-icon:hover {
    color: var(--primary-color);
}
  
  .btn-primary {
    padding: 0.9rem 1.6rem;
    border-radius: 4px;
    font-size: 1.6rem;
    margin-left: auto;
}
  .btn-primary:hover {
    background-color: #2b50c7;
    transform: translateY(-5px);
    transition: transform 0.3s;
}

/* Dropdown-menu */

.landing-form {
    position: absolute;
    width: 600%;
    left: -250%;
    /* transform: translate(-50%, 10px); */
    display: none;
    animation: navbarbottom 0.5s forwards ease-in-out;
    padding: 0;
}

.page-form {
    position: absolute;
    width: 500%;
    padding: 3.2rem;
    left: -200%;
    /* transform: translate(-50%, 10px); */
    display: none;
    animation: navbarbottom 0.5s forwards ease-in-out;
}
  
.account-form {
    position: absolute;
    width: 200%;
    padding: 2.2rem 0;
    left: -50%;
    /* transform: translate(-50%, 10px); */
    display: none;
    animation: navbarbottom 0.5s forwards ease-in-out;
}
  
.dcm-form {
    position: absolute;
    width: 200%;
    padding: 2rem;
    left: -50%;
    /* transform: translate(-50%, 10px); */
    display: none;
    animation: navbarbottom 0.5s forwards ease-in-out;
}
  
 /* Show menu  */

.landing-link:hover .landing-form {
    display: block;
}
.page-link:hover .page-form {
    display: block;
}
  
.account-link:hover .account-form {
    display: block;
}
.dcm-link:hover .dcm-form {
    display: block;
}

.col-6-page {
    display: flex;
}
.landing-img-form {
    display: block;
    width: 100%;
    height: 100%;
}
.landing-img {
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url(/img/photo-3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    position: relative;
}
  
.landing-img:before {
    background-color: rgba(51, 94, 234, 0.8);
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.landing-content h4,
.landing-content p,
.landing-content a {
    z-index: 1;
}
  
.landing-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-img h4 {
    color: var(--white-color);
    font-size: 1.6rem;
    align-items: center;
}
.landing-img p {
    color: var(--white-color);
    font-size: 1.6rem;
}
  
.landing-btn {
    margin-top: 2rem;
    background-color: #fff;
    border-color: #fff;
    color: var(--primary-color);
    padding: 0.9rem 1.6rem;
    border-radius: 4px;
    font-size: 1.6rem;
    /* margin-top: 2rem; */
}
.drop-body {
    padding: 3.6rem;
    text-align: left;
}
  
.drop-header {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
  
.drop-item {
    position: relative;
    color: var(--nav-color);
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
  
  /* account menu */
.account-link_title {
    padding: 0 2rem;
}
  
.account-link i {
    margin-right: 2rem;
}
  
.account-icon {
    float: right;
}
.account-sub-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 0%;
    left: 100%;
    display: none;
    padding: 2rem;
}
  
  /* show sub menu */
.drop-item-settings:hover .settings-sub-menu {
    display: block;
}
  
.drop-item-signin:hover .signin-sub-menu {
    display: block;
}
.drop-item-signup:hover .signup-sub-menu {
    display: block;
}
  
.drop-item-pass:hover .pass-sub-menu {
    display: block;
}
.drop-item-error:hover .error-sub-menu {
    display: block;
}
  
  /* end show sub menu */
  
  /* dcm menu */
.dcm-list-group {
    display: flex;
    width: 100%;
    display: block;
    margin-top: 1rem;
}
.dcm-list-group--item {
    display: flex;
    border-bottom: thin solid #f1f4f8;
}
  
.dcm-icon1 {
    font-size: 4rem;
    margin-right: 1rem;
}
  
.dcm-content {
}
  
.dcm-ver {
    display: inline-block;
    border-radius: 1rem;
    height: 2rem;
    font-size: 1.4rem;
    padding: 0 1rem;
    background-color: rgba(51, 94, 234, 0.1);
    color: #335eea;
    margin-left: auto;
    align-items: center;
    margin-right: 5rem;
}
  
.humberger-btn {
    display: none;
}

.menu-toggle {
    display: none;
}

.navbar-toggler-icon {
    display: none;
}

.navbar-toggler {
    border: none;
}

.show {
    display: block;
}





/* Body */

.container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
}

.sub-contain-1{
    width: 100%;
    padding: 96px 0 0 0;
    font-family: sans-serif;
    overflow: hidden;
}

.col-container-2{
    width: 50%;
    padding: 0 20px;
}

.row-display{
    display: flex;
    /* align-items: center; */
}

.justifiy-content-between {
    justify-content: space-between !important;
}

.justifiy-content-center {
    justify-content: center !important;
}



.align-items {
    align-items: center;
}

.row-display-md {
    display: flex !important;
    align-items: center;
}

.display-1{
    line-height: 1.3;
    font-size: 5rem;
    font-weight: normal;
    margin: 0 0 16px 0;
}

.primary-text{
    color: #335eea;
}

.contain-p-2{
    font-size: 2rem;
    line-height: 1.5;
    color: #869ab8!important;
    margin: 0 0 48px 0;
}

.btn-gr-1{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.btn-primary-blue{
    background-color: #335eea;
    color: #fff;
    border-radius: 10px;
    margin-right: 4px;
    padding: 20px 28px;
    font-size: 1.7rem;
}

.btn-primary-blue:hover {
    background-color: #2b50c7;
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.btn-primary-gray{
    background-color: rgba(51,94,234,.1);;
    color: #335eea;
    border-radius: 10px;
    padding: 20px 28px;
    font-size: 1.7rem;
}

.btn-primary-gray:hover {
    background-color: rgba(51,94,234,.15);
    color: #335eea;
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.img-contain-1{
    max-width: 130%;
}

.icon-welcome {
    font-weight: 600;
    margin-left: 8px;
}

/* section about */

.sub-contain-2{
    /* height: 180px;     */
    width: 100%;
    padding: 96px 0;
    clear: left;
    border-bottom: 1px solid #f1f4f8!important;
    font-family: sans-serif;
}

.col-container-3 {
    width: 33%;
    padding: 0 20px;
}

.sub-contain-2 h3{
    font-weight: 100;
    line-height: 1.4;
    font-size: 1.0625rem;
}

.icon-section {
    display: inline;
    font-size: 34px;
    margin-bottom: 12px;
    color: #335eea!important;
    width: auto;
}

.text-gray{
    font-family: sans-serif;
    color: #869ab8!important;
    line-height: 1.6;
}

.contain-p-3 {
    font-family: sans-serif;
    color: #869ab8!important;
    line-height: 1.6;
}

.sub-contain-3 {
    width: 100%;
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
    border-bottom: 1px solid #f1f4f8!important;
}

.row-section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
}

.row-section-item {
    flex: 0 0 auto;
    width: 16.66667%;
}

.sub-contain-4 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg,#f9fbfd 0,#fff);
    border-bottom: 1px solid #f1f4f8!important;
}

.col-card-1 {
    width: 41.66667%;
    padding: 0 20px;
    border-radius: 7px;
}

.invalid {
    color: red;
  }

.card-contain-1:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.card-contain-1{
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    padding: 0;
    box-shadow: 0px 0px 20px rgba(22,28,45,.15);
}

.img-dashkit {
    width: 100%;
    flex: 0 0 auto;
}

/* Customer */

.sub-contain-5 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg,#f9fbfd 0,#fff);
    border-bottom: 1px solid #f1f4f8!important;
}

.text-slide{
    position: absolute;
    height: inherit;
    box-sizing: border-box;
    background-color: white;
    padding: 72px 45px;
    flex-wrap: wrap;
}

.text-slide-body{
    height: 436px;
    position: relative;
}

.text-p {
    font-family: var(--body-font);
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 30px;
}

.text-sp {
    font-size: 13px;
    color: #869ab8;
    text-align: center;
    width: 100%;
    display: inline-block;

}

.brand {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}

.img-fluid {
    width: 41.66667%;
    color: #FF5A5F;
}

.shape-vertical {
    position: absolute;
    z-index: 1;
    width: 30%;
    left: 25%;
    height: 100%;
    overflow: hidden;
}

.shape-vertical svg {
    height: 100%;
    transform: scale(2);
    /* transform-origin: center left; */
    position: inherit;
    right: 0;
    color: white;
}

.customer-slider {
    text-align: center;
}
.customer-text {
    font-size: 3.5rem;
}

.slider {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background-color: #335eea;
}

.next {
    right: 0;
    border-radius: 50%;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.next-btn-left {
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 5%);
    color: #fff;
    background-color: #335eea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    z-index: 2;
    transform: translateX(-50%);
    cursor: pointer;
}

.next-btn-left>i {
    font-size: 1.875rem;
}

.next-btn-right {
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 5%);
    color: #fff;
    background-color: #335eea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    z-index: 2;
    right: -2rem;
    cursor: pointer;
}

.next-btn-right>i {
    font-size: 1.875rem;
}

.stats-shape {
    margin-top: -32rem;
    position: relative;
    
}

.stats-shape>.shape {
    overflow: hidden;
}

.stats-shape>.shape>img {
    transform: scale(2);
    transform-origin: top;
}


/* STATS */

.stats-heading {
    font-size: 3.1rem;
    font-weight: 300;
    line-height: 1.3;
    padding: 2rem 0;
}
  
.stats-heading span {
    color: var(--primary-color);
}


.stats-text {
    margin-top: 1.6rem;
    font-size: 2rem;
    color: #506690;
}

.stats-img {
    width: 100%;
}
  
.stats-img img {
    width: 100%;
}
  
.stats-index {
    display: flex;
    font-size: 1.9rem;
    margin-top: 6rem;
}

.stats-index p {
    color: var(--text-gray);
}

.stats1 {
    padding-right: 1.5rem;
}
.stats2 {
    padding: 0 1.5rem;
}
.stats3 {
    padding-left: 1.5rem;
}
  
.pricing-heading {
    font-size: 3.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
  
.pricing-text {
    font-size: 2.1rem;
    color: #506690;
    margin-bottom: 4rem;
    text-align: center;
}

.check-form{
    display: flex;
    justify-content: center;
}

.check-form span{
    color: #869ab8;
}

.btn-switch{
    width: 3em;
    height: 1.5em;
    background-color: #d9e2ef;
    border-radius: 100px;
    display: flex;
    justify-content: left;
    margin: 0 20px;
    margin-bottom: 50px;
}

.circle{
    height: 1.2em;
    width: 1.2em;
    background-color: white;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.pricing-card {
    width: 100%;
}

.card-pricing-col{
    width: 50%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.pricing-card-body{
    padding: 54px 36px;
}
.title-row{
    margin-bottom: 30px;
}
.title-card{
    margin-left: auto;
    margin-right: auto;
    color: #335eea;
    width: fit-content;
    background-color: #eaeefd;
    border-radius: 100px;
}
.title-card h6{
    padding: 7px 15px;
    box-sizing: border-box;
    font-weight: 400;
}
.number-price{
    display: flex;
    justify-content: center;
}
.dollar{
    font-size: 26px;
    align-self: center;
}
.number-price-card{
    font-size: 42px;
}
.text-end{
    font-size: 22px;
    align-self: end;
    margin-bottom: 5px;
}
.pricing-card-body p{
    text-align: center;
    color:#869ab8;
    margin-bottom: 54px;
}

.card-check-text{
    display: flex;
}
.card-check-text span{
    font-family: var(--body-font);
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 18px;
}
.card-check-text i{
    font-family: "Font Awesome 5 Free";
    color: #72cbb1;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 22px;
}
.btn-card{
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 1.122rem 1.5rem;
    font-family: var(--body-font);
    font-weight: 600;
    cursor: pointer;
}
.btn-card-left{
    background-color: #335eea;
    color: white;
}
.btn-card-right{
    background-color: #d9e2ef;
    color: #506690;
}

.btn-card-left:hover {
    background-color: #2b50c7;
}
.title-card-right{
    margin-bottom: 110px;
}
.pricing-text{
    font-size: 22px;
    line-height: 34px;
}

/* FAQ */

.badge {
    border-radius: 0.375rem;
    color: #fff;
    display: inline-block;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1;
    padding: 0.25rem 0.75rem;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.badge-rounded-circle {
    height: 2.4em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.badge-lg {
    padding: 0.7em 1.15em;
}

.bg-success {
    background-color: #42ba96!important;
}

.badge-rounded-circle {
    border-radius: 50rem;
}

.badge>span {
    margin-top: 1rem;
}

.text-faq>h4 {
    line-height: 1.4;
    margin-bottom: 1rem;
}


.text-white {
    font-size: 1.8rem;
    color: #fff!important;
}

.text-muted {
    font-size: 1.7rem;
    color: #869ab8!important;
}

.faq-shape {
    position: relative;
    margin-top: -36rem;
    overflow: hidden;
}

.shape>img {
    transform: scale(2);
    transform-origin: top;
}

/* CTA */

.title-cta>h6 {
    /* align-items: center; */
    padding: 7px 15px;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #506690;
    width: fit-content;
    background-color: rgba(80,102,144,.1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

.title-cta>h1 {
    line-height: 1.2;
    color: #fff;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.title-cta>p {
    margin-bottom: 3rem !important;
    font-size: 2rem;
}

.btn-success {
    background-color: #42ba96;
    border-color: #42ba96;
    box-shadow: 0 0;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0.875rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 0.8125rem 1.25rem;
    text-align: center;
    user-select: none;
    vertical-align: middle;
}

.btn-success:hover {
    background-color: #2ba781;
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.cta-shape {
    position: relative;
    top: 0;
    margin-top: -1rem;
}

.shape-2>img {
    transform: scale(2);
}

.card-body {
    padding: 32px;
    color: #869ab8!important;
    background-color: #fff;
}

.card-img {
    width: 100%;
    border-radius: 7px 7px 0 0;

}

.form-floating {
    position: relative;
    margin-bottom: 1rem;
}

.card-input {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #f1f4f8;
    border-width: 0 0 1px;
    font-size: 1.0625rem;
    font-weight: 400;
}

.mt-6 {
    margin-top: 2rem!important;
}


.card-input:focus{
    border: 1px solid blue;
    border-width: 0 0 1px 0;

    /* có thể  sử dụng 2 cách bên dưới để bỏ outline: */
    outline: none;
    /* outline-width: 0; */
}

.btn-download {
    width: 100%;
    background-color: #42ba96;
    color: #fff;
    border-color: #42ba96;
    border-radius: 5px;
    padding: 13px 20px;
    border : 0px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.button-download:focus{
    outline: 0;
    background-color: #3ba585;
    border-color: #42ba96;
    /* box-shadow: none;
    outline-width: 0; */
    border : 0px;
    
}

.col-card-2 {
    position: relative;
    /* max-width: 100%; */
    padding-left: 2rem;
    padding-right: 2rem;
    width: 50%;
    flex: 0 0 auto;
}

.mgl-65 {
    margin-left: 65px;
}

.col-card-2>h2{
    margin: 0 0 16px 0px;
    line-height: 1.4;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.col-card-2>h2>span{
    color: #42ba96;
}
.col-card-2>p{
    letter-spacing: 0.02em;
    font-size: 1.7em;
    font-weight: 300;
}

.text-success {
    color: #42ba96;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.row-section-1 {
    display: flex;
    /* flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0; */
}
.text-success {
    color: #42ba96!important;
}

.col-success {
    /* padding: 30px 76px; */
    /* display: grid; */
    /* grid-template-columns: 50% 50%; */
    justify-content: center;
    /* margin-left: 65px; */
    margin-bottom: 1rem;
    margin-top: 0; 
}



/* Footer */

.list-unstyled {
    list-style: none;
    padding-left: 0;
} 

.list-inline-item {
    display: inline-block;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.text-reset {
    color: inherit!important;
    box-shadow: 0 px #f1f4f8;
}

.text-reset:hover {
    color: #869ab8;
    box-shadow: 0 1px #869ab8;
}

.text-gray-ft {
    font-size: 1.875rem;
    font-weight: 300;
    color: #506690!important;
}

.row-display>.col-6>h6 {
    line-height: 1.55;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5rem;
    
}


